#box_websiteIP * {
	font-family: 'Arial', Helvetica, sans-serif !important;
	letter-spacing: 0px !important;
}
div#box_websiteIP{
	position: fixed;
	bottom: 0;
	background: #F1EDED;
	padding: 5px;
	border: 1px solid #919191;
	/* border-bottom: 0px; */
	font-size: 16px;
	font-weight: bold;
	color: #333;
	font-family: 'Arial', Helvetica, sans-serif !important;
	cursor: default;
	z-index: 9999999999;
	line-height: 20px;
	/* outline: 0; */
	/* vertical-align: baseline; */
	margin: 0;
	/*-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;*/
	display: flex;
	flex-direction: row;
	height: 20px;
	min-height:11px;
	/* max-height:11px; */
	width:auto;
	box-sizing: content-box !important;
	/* border-radius: 5px 5px 0 0; */
	border-radius: 5px;
}

/* ----------------------------------------------------
 * IP box
 */
div#box_websiteIP.box_websiteIP_right {
	right: 1%;
}

div#box_websiteIP.box_websiteIP_left {
	left: 1%;
}

div#box_websiteIP .websiteip-flag {
	/* float: left; */
	height: 20px;
	margin-right: 5px;
	width: auto;
	position: initial;
}

div#box_websiteIP .websiteip-icon {
	margin-left: 10px;
	cursor: pointer;
}

div#box_websiteIP .websiteip-icon img {
	width: 20px;
	height: 20px;
	position: initial;
}

div#box_websiteIP .on-hover {
	display: none;
}
div#box_websiteIP:hover .on-hover {
	display: block;
}

/* ----------------------------------------------------
 * Additional Info box
 */
#box_websiteIP_addinfo * {
	font-family: 'Arial', Helvetica, sans-serif !important;
	letter-spacing: 0px !important;
}
div#box_websiteIP_addinfo {
	position: fixed;
	top: 10px;
	left: 10px;
	background: #F1EDED;
	padding: 5px;
	border: 1px solid #919191;
	font-size: 14px;
	font-weight: bold;
	color: #333;
	font-family: 'Arial', Helvetica, sans-serif !important;
	cursor: default;
	z-index: 9999999999;
	line-height: 20px;
	margin: 0;
	display: block;
	width:auto;
	height: auto;
	box-sizing: content-box !important;
	border-radius: 5px;
}
div#box_websiteIP_addinfo a,
div#box_websiteIP_addinfo a:visited {
	color: blue;
	text-decoration: none;
}
div#box_websiteIP_addinfo a:hover {
	text-decoration: underline;
}
div#box_websiteIP_addinfo h1 {
	font-size: 28px;
}
div#box_websiteIP_addinfo h2 {
	font-size: 24px;
}
div#box_websiteIP_addinfo h3 {
	font-size: 20px;
}
div#box_websiteIP_addinfo h4 {
	font-size: 16px;
}
div#box_websiteIP_addinfo #websiteip-addinfo-control {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 1px #919191 solid;
	padding-bottom: 2px;
}
div#box_websiteIP_addinfo #websiteip-addinfo-control img {
	cursor: pointer;
	width: 20px;
	height: 20px;
	position: initial;
}
div#box_websiteIP_addinfo #websiteip-addinfo-control img:hover {
	background-color: #ff9a9a;
	border-radius: 10px;
}


/* hide if in print view */
@media print {
	div#box_websiteIP {display:none;}
}